<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Colección: Pacientes</title>
<style>
    body {
    background-color: #cbf9ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    }
    h3 {
    font-family: 'Elephant', serif;
    color: black;
    }
    .contenedor-formulario {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    }
    .btn-regresar {
    display: inline-block;
    margin: 25px 0;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    }
    .btn-regresar:hover {
    text-decoration: underline;
    }
</style>
</head>
<body>

<h3>Colección: Pacientes</h3>

<table border="1" cellpadding="8" style="border-collapse: collapse; width: 100%; background-color: #ffffff;">
    <thead>
    <tr style="background-color: #f2f2f2;">
        <th>id_paciente</th>
        <th>nombre_completo</th>
        <th>f_nacimiento</th>
        <th>genero</th>
        <th>telefono</th>
        <th>correo</th>
        <th>rfc</th>
        <th>aseguradora</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2026001</td>
        <td>Guadalupe Clara Mendoza Pérez</td>
        <td>19/Sept/1881</td>
        <td>M</td>
        <td>656-111-222</td>
        <td>GuadMend@gmail.com</td>
        <td>MEGC810919XXX</td>
        <td>MetLife Dental</td>
    </tr>
    <tr>
        <td>2026002</td>
        <td>Gael Ramos S.</td>
        <td>21/Dic/2001</td>
        <td>H</td>
        <td>656-101-333</td>
        <td>GaelRamosM@gmail.com</td>
        <td>RASG011221XXX</td>
        <td>Seguros Monterrey</td>
    </tr>
    <tr>
        <td>2026003</td>
        <td>Camila Liria García López</td>
        <td>7/Feb/2006</td>
        <td>M</td>
        <td>656-548-222</td>
        <td>camila.garcia@outlook.com</td>
        <td>CIGALC060207XXX</td>
        <td>Allianz Care</td>
    </tr>
    <tr>
        <td>2026005</td>
        <td>Gonzalo González</td>
        <td>11/Junio/2003</td>
        <td>H</td>
        <td>656-023-414</td>
        <td>Gonzag@gmail.com</td>
        <td>GOGG030611XXX</td>
        <td>Seguros Cd Juárez</td>
    </tr>
    <tr>
        <td>2026006</td>
        <td>María Bezerra</td>
        <td>13/Ago/2026</td>
        <td>M</td>
        <td>656-875-923</td>
        <td>MariBe@gmail.com</td>
        <td>BEZM260813HDF</td>
        <td>No tiene (Particular)</td>
    </tr>
    <tr>
        <td>2026007</td>
        <td>Grecia Rentería</td>
        <td>9/Nov/2020</td>
        <td>M</td>
        <td>656-986-115</td>
        <td>Amarilla10PA@gmail.com</td>
        <td>REGG201109XXX</td>
        <td>Bupa</td>
    </tr>
    <tr>
        <td>2026008</td>
        <td>Franco López</td>
        <td>4/Mayo/1884</td>
        <td>H</td>
        <td>656-142-100</td>
        <td>FranLo@gmail.com</td>
        <td>LOFF840504XXX</td>
        <td>Mapfre</td>
    </tr>
    <tr>
        <td>2026009</td>
        <td>Gonzalo Julián Conte</td>
        <td>29/Ago/1998</td>
        <td>H</td>
        <td>656-978-723</td>
        <td>Bizarrap@gmail.com</td>
        <td>COGG980829XXX</td>
        <td>Allianz</td>
    </tr>
    <tr>
        <td>202610</td>
        <td>Emanuel Ramos</td>
        <td>30/Dic/2026</td>
        <td>H</td>
        <td>656-466-8555</td>
        <td>JonathanRamos@gmail.com</td>
        <td>RAME261230XXX</td>
        <td>Blue Tooth</td>
    </tr>
    </tbody>
</table>

<hr style="border: 1px dashed Teal; width: 100%; margin-top: 30px;">

<div class="contenedor-formulario">
    <iframe src="FormularioPacientes.html" style="width: 100%; height: 750px; border: none; overflow: hidden;"></iframe>
</div>

<div style="text-align: center;">
    <a href="index.html" class="btn-regresar">← Volver al Menú Principal</a>
</div>

</body>
</html>